<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GoLive.NFe.SOAP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <GoLive.NFe.SOAP.Properties.Settings>
            <setting name="am_hom_statusServico" serializeAs="String">
                <value>https://homnfe.sefaz.am.gov.br/services2/services/NfeStatusServico2?wsdl</value>
            </setting>
            <setting name="ba_hom_StatusServico" serializeAs="String">
                <value>https://hnfe.sefaz.ba.gov.br/webservices/NfeStatusServico/NfeStatusServico.asmx</value>
            </setting>
            <setting name="ce_hom_StatusServico" serializeAs="String">
                <value>https://nfeh.sefaz.ce.gov.br/nfe2/services/NfeStatusServico2?wsdl</value>
            </setting>
            <setting name="go_hom_StatusServico" serializeAs="String">
                <value>https://homolog.sefaz.go.gov.br/nfe/services/v2/NfeStatusServico2?wsdl</value>
            </setting>
            <setting name="mg_hom_StatusServico" serializeAs="String">
                <value>https://hnfe.fazenda.mg.gov.br/nfe2/services/NfeStatusServico2?wsdl</value>
            </setting>
            <setting name="ms_hom_StatusServico" serializeAs="String">
                <value>https://homologacao.nfe.ms.gov.br/homologacao/services2/NfeStatusServico2?wsdl</value>
            </setting>
            <setting name="pr_hom_StatusServico" serializeAs="String">
                <value>https://homologacao.nfe.fazenda.pr.gov.br/nfe/NFeStatusServico3?wsdl</value>
            </setting>
            <setting name="rs_hom_StatusServico" serializeAs="String">
                <value>https://homologacao.nfe.sefaz.rs.gov.br/ws/NfeStatusServico/NfeStatusServico2.asmx</value>
            </setting>
            <setting name="sp_hom_StatusServico" serializeAs="String">
                <value>https://homologacao.nfe.fazenda.sp.gov.br/ws/nfestatusservico2.asmx</value>
            </setting>
            <setting name="svan_hom_StatusServico" serializeAs="String">
                <value>https://hom.sefazvirtual.fazenda.gov.br/NfeStatusServico2/NfeStatusServico2.asmx</value>
            </setting>
            <setting name="svrs_hom_StatusServico" serializeAs="String">
                <value>https://homologacao.nfe.sefazvirtual.rs.gov.br/ws/NfeStatusServico/NfeStatusServico2.asmx</value>
            </setting>
            <setting name="am_hom_NFeAutorizacao" serializeAs="String">
                <value>https://homnfe.sefaz.am.gov.br/services2/services/NfeAutorizacao?wsdl</value>
            </setting>
            <setting name="ba_hom_NFeAutorizacao" serializeAs="String">
                <value>https://hnfe.sefaz.ba.gov.br/webservices/NfeAutorizacao/NfeAutorizacao.asmx</value>
            </setting>
            <setting name="ce_hom_NFeAutorizacao" serializeAs="String">
                <value>https://nfeh.sefaz.ce.gov.br/nfe2/services/NfeAutorizacao?wsdl</value>
            </setting>
            <setting name="go_hom_NFeAutorizacao" serializeAs="String">
                <value>https://homolog.sefaz.go.gov.br/nfe/services/v2/NfeAutorizacao?wsdl</value>
            </setting>
            <setting name="mg_hom_NFeAutorizacao" serializeAs="String">
                <value>https://hnfe.fazenda.mg.gov.br/nfe2/services/NfeAutorizacao?wsdl</value>
            </setting>
            <setting name="ms_hom_NFeAutorizacao" serializeAs="String">
                <value>https://homologacao.nfe.ms.gov.br/homologacao/services2/NfeAutorizacao?wsdl</value>
            </setting>
            <setting name="mt_hom_NFeAutorizacao" serializeAs="String">
                <value>https://homologacao.sefaz.mt.gov.br/nfews/v2/services/NfeAutorizacao?wsdl</value>
            </setting>
            <setting name="pe_hom_NFeAutorizacao" serializeAs="String">
                <value>https://nfehomolog.sefaz.pe.gov.br/nfe-service/services/NfeAutorizacao?wsdl</value>
            </setting>
            <setting name="pr_hom_NFeAutorizacao" serializeAs="String">
                <value>https://homologacao.nfe.fazenda.pr.gov.br/nfe/NFeAutorizacao3?wsdl</value>
            </setting>
            <setting name="rs_hom_NFeAutorizacao" serializeAs="String">
                <value>https://homologacao.nfe.sefaz.rs.gov.br/ws/NfeAutorizacao/NFeAutorizacao.asmx</value>
            </setting>
            <setting name="sp_hom_NFeAutorizacao" serializeAs="String">
                <value>https://homologacao.nfe.fazenda.sp.gov.br/ws/nfeautorizacao.asmx</value>
            </setting>
            <setting name="svan_hom_NFeAutorizacao" serializeAs="String">
                <value>https://hom.sefazvirtual.fazenda.gov.br/NfeAutorizacao/NfeAutorizacao.asmx</value>
            </setting>
            <setting name="svrs_hom_NFeAutorizacao" serializeAs="String">
                <value>https://homologacao.nfe.sefazvirtual.rs.gov.br/ws/NfeAutorizacao/NFeAutorizacao.asmx</value>
            </setting>
            <setting name="ce_hom_NFeRetAutorizacao" serializeAs="String">
                <value>https://nfeh.sefaz.ce.gov.br/nfe2/services/NfeRetAutorizacao?wsdl</value>
            </setting>
            <setting name="go_hom_NFeRetAutorizacao" serializeAs="String">
                <value>https://homolog.sefaz.go.gov.br/nfe/services/v2/NfeRetAutorizacao?wsdl</value>
            </setting>
            <setting name="mg_hom_NFeRetAutorizacao" serializeAs="String">
                <value>https://hnfe.fazenda.mg.gov.br/nfe2/services/NfeRetAutorizacao?wsdl</value>
            </setting>
            <setting name="ms_hom_NFeRetAutorizacao" serializeAs="String">
                <value>https://homologacao.nfe.ms.gov.br/homologacao/services2/NfeRetAutorizacao?wsdl</value>
            </setting>
            <setting name="mt_hom_NFeRetAutorizacao" serializeAs="String">
                <value>https://homologacao.sefaz.mt.gov.br/nfews/v2/services/NfeRetAutorizacao?wsdl</value>
            </setting>
            <setting name="pe_hom_NFeRetAutorizacao" serializeAs="String">
                <value>https://nfehomolog.sefaz.pe.gov.br/nfe-service/services/NfeRetAutorizacao?wsdl</value>
            </setting>
            <setting name="pe_hom_StatusServico" serializeAs="String">
                <value>https://nfehomolog.sefaz.pe.gov.br/nfe-service/services/NfeStatusServico2?wsdl</value>
            </setting>
            <setting name="am_hom_NFeRetAutorizacao" serializeAs="String">
                <value>https://hnfe.sefaz.ba.gov.br/webservices/NfeRetAutorizacao/NfeRetAutorizacao.asmx</value>
            </setting>
            <setting name="pr_hom_NFeRetAutorizacao" serializeAs="String">
                <value>https://homologacao.nfe.fazenda.pr.gov.br/nfe/NFeRetAutorizacao3?wsdl</value>
            </setting>
            <setting name="rs_hom_NFeRetAutorizacao" serializeAs="String">
                <value>https://homologacao.nfe.sefaz.rs.gov.br/ws/NfeRetAutorizacao/NFeRetAutorizacao.asmx</value>
            </setting>
            <setting name="sp_hom_NFeRetAutorizacao" serializeAs="String">
                <value>https://homologacao.nfe.fazenda.sp.gov.br/ws/nferetautorizacao.asmx</value>
            </setting>
            <setting name="svan_hom_NFeRetAutorizacao" serializeAs="String">
                <value>https://hom.sefazvirtual.fazenda.gov.br/NfeRetAutorizacao/NfeRetAutorizacao.asmx</value>
            </setting>
            <setting name="svrs_hom_NFeRetAutorizacao" serializeAs="String">
                <value>https://homologacao.nfe.sefazvirtual.rs.gov.br/ws/NfeRetAutorizacao/NFeRetAutorizacao.asmx</value>
            </setting>
            <setting name="am_hom_ConsultaProtocolo" serializeAs="String">
                <value>https://homnfe.sefaz.am.gov.br/services2/services/NfeConsulta2?wsdl</value>
            </setting>
            <setting name="ba_hom_ConsultaProtocolo" serializeAs="String">
                <value>https://hnfe.sefaz.ba.gov.br/webservices/nfenw/CadConsultaCadastro2.asmx</value>
            </setting>
            <setting name="ce_hom_ConsultaProtocolo" serializeAs="String">
                <value>https://nfeh.sefaz.ce.gov.br/nfe2/services/NfeConsulta2?wsdl</value>
            </setting>
            <setting name="go_hom_ConsultaProtocolo" serializeAs="String">
                <value>https://homolog.sefaz.go.gov.br/nfe/services/v2/NfeConsulta2?wsdl</value>
            </setting>
            <setting name="mg_hom_ConsultaProtocolo" serializeAs="String">
                <value>https://hnfe.fazenda.mg.gov.br/nfe2/services/NfeConsulta2?wsdl</value>
            </setting>
            <setting name="ms_hom_ConsultaProtocolo" serializeAs="String">
                <value>https://homologacao.nfe.ms.gov.br/homologacao/services2/NfeConsulta2?wsdl</value>
            </setting>
            <setting name="mt_hom_ConsultaProtocolo" serializeAs="String">
                <value>https://homologacao.sefaz.mt.gov.br/nfews/v2/services/NfeConsulta2?wsdl</value>
            </setting>
            <setting name="pe_hom_ConsultaProtocolo" serializeAs="String">
                <value>https://nfehomolog.sefaz.pe.gov.br/nfe-service/services/NfeConsulta2</value>
            </setting>
            <setting name="pr_hom_ConsultaProtocolo" serializeAs="String">
                <value>https://homologacao.nfe.fazenda.pr.gov.br/nfe/NFeConsulta3?wsdl</value>
            </setting>
            <setting name="rs_hom_ConsultaProtocolo" serializeAs="String">
                <value>https://homologacao.nfe.sefaz.rs.gov.br/ws/NfeConsulta/NfeConsulta2.asmx</value>
            </setting>
            <setting name="sp_hom_ConsultaProtocolo" serializeAs="String">
                <value>https://homologacao.nfe.fazenda.sp.gov.br/ws/nfeconsulta2.asmx</value>
            </setting>
            <setting name="svan_hom_ConsultaProtocolo" serializeAs="String">
                <value>https://hom.sefazvirtual.fazenda.gov.br/NfeConsulta2/NfeConsulta2.asmx</value>
            </setting>
            <setting name="svrs_hom_ConsultaProtocolo" serializeAs="String">
                <value>https://homologacao.nfe.sefazvirtual.rs.gov.br/ws/NfeConsulta/NfeConsulta2.asmx</value>
            </setting>
            <setting name="am_hom_NFeInutilizacao" serializeAs="String">
                <value>https://homnfe.sefaz.am.gov.br/services2/services/NfeInutilizacao2?wsdl</value>
            </setting>
            <setting name="ce_hom_NFeInutilizacao" serializeAs="String">
                <value>https://nfeh.sefaz.ce.gov.br/nfe2/services/NfeInutilizacao2?wsdl</value>
            </setting>
            <setting name="go_hom_NFeInutilizacao" serializeAs="String">
                <value>https://homolog.sefaz.go.gov.br/nfe/services/v2/NfeInutilizacao2?wsdl</value>
            </setting>
            <setting name="mg_hom_NFeInutilizacao" serializeAs="String">
                <value>https://hnfe.fazenda.mg.gov.br/nfe2/services/NfeInutilizacao2?wsdl</value>
            </setting>
            <setting name="ms_hom_NFeInutilizacao" serializeAs="String">
                <value>https://homologacao.nfe.ms.gov.br/homologacao/services2/NfeInutilizacao2?wsdl</value>
            </setting>
            <setting name="mt_hom_NFeInutilizacao" serializeAs="String">
                <value>https://homologacao.sefaz.mt.gov.br/nfews/v2/services/NfeInutilizacao2?wsdl</value>
            </setting>
            <setting name="pe_hom_NFeInutilizacao" serializeAs="String">
                <value>https://nfehomolog.sefaz.pe.gov.br/nfe-service/services/NfeInutilizacao2?wsdl</value>
            </setting>
            <setting name="pr_hom_NFeInutilizacao" serializeAs="String">
                <value>https://homologacao.nfe.fazenda.pr.gov.br/nfe/NFeInutilizacao3?wsdl</value>
            </setting>
            <setting name="rs_hom_NFeInutilizacao" serializeAs="String">
                <value>https://homologacao.nfe.sefaz.rs.gov.br/ws/nfeinutilizacao/nfeinutilizacao2.asmx</value>
            </setting>
            <setting name="sp_hom_NFeInutilizacao" serializeAs="String">
                <value>https://homologacao.nfe.fazenda.sp.gov.br/ws/nfeinutilizacao2.asmx</value>
            </setting>
            <setting name="svan_hom_NFeInutilizacao" serializeAs="String">
                <value>https://hom.sefazvirtual.fazenda.gov.br/NfeInutilizacao2/NfeInutilizacao2.asmx</value>
            </setting>
            <setting name="svrs_hom_NFeInutilizacao" serializeAs="String">
                <value>https://homologacao.nfe.sefazvirtual.rs.gov.br/ws/nfeinutilizacao/nfeinutilizacao2.asmx</value>
            </setting>
            <setting name="am_hom_RecepcaoEvento" serializeAs="String">
                <value>https://homnfe.sefaz.am.gov.br/services2/services/RecepcaoEvento?wsdl</value>
            </setting>
            <setting name="ba_hom_RecepcaoEvento" serializeAs="String">
                <value>https://hnfe.sefaz.ba.gov.br/webservices/sre/recepcaoevento.asmx</value>
            </setting>
            <setting name="ce_hom_RecepcaoEvento" serializeAs="String">
                <value>https://nfeh.sefaz.ce.gov.br/nfe2/services/RecepcaoEvento?wsdl</value>
            </setting>
            <setting name="go_hom_RecepcaoEvento" serializeAs="String">
                <value>https://homolog.sefaz.go.gov.br/nfe/services/v2/RecepcaoEvento?wsdl</value>
            </setting>
            <setting name="mg_hom_RecepcaoEvento" serializeAs="String">
                <value>https://hnfe.fazenda.mg.gov.br/nfe2/services/RecepcaoEvento?wsdl</value>
            </setting>
            <setting name="ms_hom_RecepcaoEvento" serializeAs="String">
                <value>https://homologacao.nfe.ms.gov.br/homologacao/services2/RecepcaoEvento?wsdl</value>
            </setting>
            <setting name="mt_hom_RecepcaoEvento" serializeAs="String">
                <value>https://homologacao.sefaz.mt.gov.br/nfews/v2/services/RecepcaoEvento?wsdl</value>
            </setting>
            <setting name="pe_hom_RecepcaoEvento" serializeAs="String">
                <value>https://nfehomolog.sefaz.pe.gov.br/nfe-service/services/RecepcaoEvento?wsdl</value>
            </setting>
            <setting name="pr_hom_RecepcaoEvento" serializeAs="String">
                <value>https://homologacao.nfe.fazenda.pr.gov.br/nfe/NFeRecepcaoEvento?wsdl</value>
            </setting>
            <setting name="rs_hom_RecepcaoEvento" serializeAs="String">
                <value>https://homologacao.nfe.sefaz.rs.gov.br/ws/recepcaoevento/recepcaoevento.asmx</value>
            </setting>
            <setting name="sp_hom_RecepcaoEvento" serializeAs="String">
                <value>https://homologacao.nfe.fazenda.sp.gov.br/ws/recepcaoevento.asmx</value>
            </setting>
            <setting name="svan_hom_RecepcaoEvento" serializeAs="String">
                <value>https://hom.sefazvirtual.fazenda.gov.br/RecepcaoEvento/RecepcaoEvento.asmx</value>
            </setting>
            <setting name="ba_hom_NFeInutilizacao" serializeAs="String">
                <value>https://hnfe.sefaz.ba.gov.br/webservices/NfeInutilizacao/NfeInutilizacao.asmx</value>
            </setting>
            <setting name="ba_hom_NFeRetAutorizacao" serializeAs="String">
                <value>https://hnfe.sefaz.ba.gov.br/webservices/NfeRetAutorizacao/NfeRetAutorizacao.asmx</value>
            </setting>
            <setting name="mt_hom_StatusServico" serializeAs="String">
                <value>https://homologacao.sefaz.mt.gov.br/nfews/v2/services/NfeStatusServico2?wsdl</value>
            </setting>
            <setting name="svrs_hom_RecepcaoEvento" serializeAs="String">
                <value>https://homologacao.nfe.sefazvirtual.rs.gov.br/ws/recepcaoevento/recepcaoevento.asmx</value>
            </setting>
            <setting name="am_hom_ConsultaCadastro" serializeAs="String">
                <value>https://homnfe.sefaz.am.gov.br/services2/services/cadconsultacadastro2?wsdl</value>
            </setting>
            <setting name="ba_hom_ConsultaCadastro" serializeAs="String">
                <value>https://hnfe.sefaz.ba.gov.br/webservices/nfenw/CadConsultaCadastro2.asmx</value>
            </setting>
            <setting name="ce_hom_ConsultaCadastro" serializeAs="String">
                <value>https://nfeh.sefaz.ce.gov.br/nfe2/services/CadConsultaCadastro2?wsdl</value>
            </setting>
            <setting name="go_hom_ConsultaCadastro" serializeAs="String">
                <value>https://homolog.sefaz.go.gov.br/nfe/services/v2/CadConsultaCadastro2?wsdl</value>
            </setting>
            <setting name="mg_hom_ConsultaCadastro" serializeAs="String">
                <value>https://hnfe.fazenda.mg.gov.br/nfe2/services/cadconsultacadastro2?wsdl</value>
            </setting>
            <setting name="ma_hom_ConsultaCadastro" serializeAs="String">
                <value>https://sistemas.sefaz.ma.gov.br/wscadastro/CadConsultaCadastro2?wsdl</value>
            </setting>
            <setting name="ms_hom_ConsultaCadastro" serializeAs="String">
                <value>https://homologacao.nfe.ms.gov.br/homologacao/services2/CadConsultaCadastro2?wsdl</value>
            </setting>
            <setting name="mt_hom_ConsultaCadastro" serializeAs="String">
                <value>https://homologacao.sefaz.mt.gov.br/nfews/v2/services/CadConsultaCadastro2?wsdl</value>
            </setting>
            <setting name="pr_hom_ConsultaCadastro" serializeAs="String">
                <value>https://homologacao.nfe.fazenda.pr.gov.br/nfe/CadConsultaCadastro2?wsdl</value>
            </setting>
            <setting name="rs_hom_ConsultaCadastro" serializeAs="String">
                <value>https://cad.sefazrs.rs.gov.br/ws/cadconsultacadastro/cadconsultacadastro2.asmx</value>
            </setting>
            <setting name="sp_hom_ConsultaCadastro" serializeAs="String">
                <value>https://homologacao.nfe.fazenda.sp.gov.br/ws/cadconsultacadastro2.asmx</value>
            </setting>
            <setting name="svrs_hom_ConsultaCadastro" serializeAs="String">
                <value>https://cad.svrs.rs.gov.br/ws/cadconsultacadastro/cadconsultacadastro2.asmx</value>
            </setting>
            <setting name="an_hom_DownloadNFe" serializeAs="String">
                <value>https://hom.nfe.fazenda.gov.br/NfeDownloadNF/NfeDownloadNF.asmx</value>
            </setting>
            <setting name="svcan_hom_RecepcaoEvento" serializeAs="String">
                <value>https://hom.svc.fazenda.gov.br/RecepcaoEvento/RecepcaoEvento.asmx</value>
            </setting>
            <setting name="svcan_hom_ConsultaProtocolo" serializeAs="String">
                <value>https://hom.svc.fazenda.gov.br/NfeConsulta2/NfeConsulta2.asmx</value>
            </setting>
            <setting name="svcan_hom_StatusServico" serializeAs="String">
                <value>https://hom.svc.fazenda.gov.br/NfeStatusServico2/NfeStatusServico2.asmx</value>
            </setting>
            <setting name="svcan_hom_NFeAutorizacao" serializeAs="String">
                <value>https://hom.svc.fazenda.gov.br/NfeAutorizacao/NfeAutorizacao.asmx</value>
            </setting>
            <setting name="svcan_hom_NFeRetAutorizacao" serializeAs="String">
                <value>https://hom.svc.fazenda.gov.br/NfeRetAutorizacao/NfeRetAutorizacao.asmx</value>
            </setting>
            <setting name="svcrs_hom_RecepcaoEvento" serializeAs="String">
                <value>https://nfe-homologacao.svrs.rs.gov.br/ws/recepcaoevento/recepcaoevento.asmx</value>
            </setting>
            <setting name="svcrs_hom_NFeInutilizacao" serializeAs="String">
                <value>https://nfe-homologacao.svrs.rs.gov.br/ws/nfeinutilizacao/nfeinutilizacao2.asmx</value>
            </setting>
            <setting name="svcrs_hom_ConsultaProtocolo" serializeAs="String">
                <value>https://nfe-homologacao.svrs.rs.gov.br/ws/NfeConsulta/NfeConsulta2.asmx</value>
            </setting>
            <setting name="svcrs_hom_StatusServico" serializeAs="String">
                <value>https://nfe-homologacao.svrs.rs.gov.br/ws/NfeStatusServico/NfeStatusServico2.asmx</value>
            </setting>
            <setting name="svcrs_hom_NFeAutorizacao" serializeAs="String">
                <value>https://nfe-homologacao.svrs.rs.gov.br/ws/NfeAutorizacao/NFeAutorizacao.asmx</value>
            </setting>
            <setting name="svcrs_hom_NFeRetAutorizacao" serializeAs="String">
                <value>https://nfe-homologacao.svrs.rs.gov.br/ws/NfeRetAutorizacao/NFeRetAutorizacao.asmx</value>
            </setting>
            <setting name="sp_hom_NFCeAutorizacao" serializeAs="String">
                <value>https://homologacao.nfce.fazenda.sp.gov.br/ws/nfeautorizacao.asmx </value>
            </setting>
            <setting name="sp_hom_NFCeRetAutorizacao" serializeAs="String">
                <value>https://homologacao.nfce.fazenda.sp.gov.br/ws/nferetautorizacao.asmx </value>
            </setting>
            <setting name="sp_hom_NFCeInutilizacao" serializeAs="String">
                <value>https://homologacao.nfce.fazenda.sp.gov.br/ws/nfeinutilizacao2.asmx </value>
            </setting>
            <setting name="sp_hom_NFCeConsulta" serializeAs="String">
                <value>https://homologacao.nfce.fazenda.sp.gov.br/ws/nfeconsulta2.asmx </value>
            </setting>
            <setting name="sp_hom_NFCeRecepcaoEvento" serializeAs="String">
                <value>https://homologacao.nfce.fazenda.sp.gov.br/ws/recepcaoevento.asmx </value>
            </setting>
        </GoLive.NFe.SOAP.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
